<% layout('layouts/boilerplate')%>

    <head>
        <link rel="stylesheet" href="/Followers.css">
        <title>Followers</title>
    </head>

<body>
  <% if(results.length>0) { %>
      <% for(let account of results) {%>
          <section id="container">
              <div class="account">
                  <button id="follow-button">Follow</button>
                  <a href="/user/<%= account.username %>">
                      <% if(account.profile.url>'') {%>
                          <img src="<%=account.profile.url %>" class="profile-picture" style="display: inline; margin-right: 10px;" align="left" width="500" height="600">
                          <% } else { %>
                              <img src="../empty_profile.png" class="profile-picture" style="display: inline; margin-right: 10px;" align="left" width="500" height="600">
                              <% } %>
                  </a>
                  <p style="font-weight: bold; font-size: 1em; margin-bottom: 0px;">
                      <%= account.name %>
                  </p>
                  <p style="opacity: 0.7; font-size: 0.9em; margin-left: 50px;">
                      @
                      <%= account.username %>
                  </p>
                  <p dir="auto" class="biography" style="margin-top: 10px; margin-left: 55px; font-size: 1em;">
                      <%= account.biography %>
                  </p>
              </div>
          </section>
          <% } %>
              <% } else {%>
                  <p>No results found.</p>
                  <% } %>
</body>
